<div class="container">
  <!-- Contenu principal -->
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <!-- Sidebar Panier -->
  <div class="sidebar cart">
    <h2>🛒 Votre Panier</h2>

    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div class="cart-items">
        <div class="cart-item" *ngFor="let item of cartItems">
          <div class="cart-item-content">
            <div style="display: flex;" *ngFor="let product of item.products">
              <img src="https://eu-images.contentstack.com/v3/assets/blt167b24547e5b1906/bltfc47ae3a0d6d1f5a/65e9b7046dc76f040a6a36df/27_Thermosync_Hybrid_v2_Card_Desktop.jpg?format=pjpg&auto=webp&quality=80&width=1920&disable=upscale" alt="{{ product.name }}" class="product-image" />
              <div class="item-details" style="margin-left: 10px">
                <p class="item-name">{{ product.name }}</p>
                <p class="item-price">{{ product.price | currency:'EUR' }}</p>
              </div>
            </div>
          <button class="remove-btn">✖</button>
          </div>
        </div>
      </div>

      <div class="cart-footer">
        <p>Total : <span class="cart-total">{{ getTotal() | currency:'EUR' }}</span></p>
        <button class="checkout-btn">Commander</button>
      </div>
    </div>

    <ng-template #emptyCart>
      <p class="empty-cart">Votre panier est vide.</p>
    </ng-template>
  </div>
</div>
